/* Suggestions.css */
.suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .suggestions li {
    background-color: #f9f9f9;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .suggestions li:hover {
    background-color: #eaeaea;
  }
  